In [1]:
import pandas as pd

In [2]:
users = pd.read_csv(r"C:\Users\TaleyaHusn\Desktop\User Engagement\User-Engagement\Taleya - User Engagement\users.csv")
user_designations = pd.read_csv(r"C:\Users\TaleyaHusn\Desktop\User Engagement\User-Engagement\Taleya - User Engagement\user_designations.csv")
geo_tables = pd.read_csv(r"C:\Users\TaleyaHusn\Desktop\User Engagement\User-Engagement\Taleya - User Engagement\geo_tables.csv")
ahoy_visits = pd.read_csv(r"C:\Users\TaleyaHusn\Desktop\User Engagement\User-Engagement\Taleya - User Engagement\ahoy_visits.csv")
ahoy_events = pd.read_csv(r"C:\Users\TaleyaHusn\Desktop\User Engagement\User-Engagement\Taleya - User Engagement\ahoy_events.csv")

In [7]:
users.head()

,id,username,email,geography_type,geography_id,role_id,access_program,sign_in_count,current_sign_in_at,last_sign_in_at,...,updated_at,user_designation_id,unique_session_id,org,room_id,deleted_at,otp_secret,consumed_timestep,otp_required_for_login,otp_backup_codes
0,2649,chatna126be37,chatna126@gmail.com,Block,83,3,"{"""",AUM,MR,TB}",12,2023-03-20 08:17:15.593453,2023-03-14 05:32:48.425878,...,2023-03-20 08:17:41.845943,70.0,NaN,DOMHFW,NaN,NaN,NaN,NaN,NaN,NaN
1,5456,phcsalempurkala41db,phcsalempurkala@gmail.com,Phc,619,3,{NULL},0,NaN,NaN,...,2023-12-18 08:37:23.252595,NaN,NaN,ADM,NaN,NaN,NaN,NaN,NaN,NaN
2,3174,uphcsomnath0d07,uphcsomnath@gmail.com,Phc,1168,3,"{"""",MR}",1,2023-03-10 09:23:40.881737,2023-03-10 09:23:40.881737,...,2023-03-10 10:25:44.645935,52.0,NaN,NHM,NaN,NaN,NaN,NaN,NaN,NaN
3,3131,phcghatoli2018c50d,phcghatoli2018@gmail.com,Phc,2024,3,{NULL},0,NaN,NaN,...,2023-04-10 07:05:58.205215,NaN,NaN,NHM,NaN,2023-04-10 07:05:58.205202,NaN,NaN,NaN,NaN
4,3120,dr.bharatgoyal851297,dr.bharatgoyal85@gmail.com,Phc,2976,3,"{"""",MR}",0,NaN,NaN,...,2023-03-09 12:11:45.222176,38.0,NaN,NHM,NaN,NaN,NaN,NaN,NaN,NaN

# Checking for null values column wise for each table

### Users

In [3]:
percent_missing = users.isnull().sum()*100/len(users)
percent_missing

id                          0.000000
username                    0.000000
email                       0.000000
geography_type              0.000000
geography_id                0.000000
role_id                     0.000000
access_program              0.000000
sign_in_count               0.000000
current_sign_in_at         41.804564
last_sign_in_at            41.804564
current_sign_in_ip         41.804564
last_sign_in_ip            41.804564
failed_attempts             0.000000
unlock_token              100.000000
locked_at                  87.702491
created_at                  0.000000
updated_at                  0.000000
user_designation_id        22.609302
unique_session_id          99.477443
org                         0.243860
room_id                    95.784706
deleted_at                 84.776171
otp_secret                 98.972304
consumed_timestep          99.930326
otp_required_for_login     99.930326
otp_backup_codes          100.000000
dtype: float64

In [4]:
users['access_program']

0                                          {"",AUM,MR,TB}
1                                                  {NULL}
2                                                 {"",MR}
3                                                  {NULL}
4                                                 {"",MR}
                              ...
5736                            {"",DHS,AUM,Report,MR,TB}
5737                                       {"",AUM,MR,TB}
5738    {"",PW,DHS,FP,MH,CH,IDSP,AUM,NCD,Report,MR,TB,...
5739      {"",DHS,FP,MH,CH,IDSP,AUM,NCD,Report,MR,TB,FSP}
5740      {"",DHS,FP,MH,CH,IDSP,AUM,NCD,Report,MR,TB,FSP}
Name: access_program, Length: 5741, dtype: object

#### We can see here that there is no null column but, there are sum columns explicitly marked as '{NULL}'

In [5]:
null_access_program = users.loc[users['access_program'] == '{NULL}', 'id']
print(null_access_program)

1       5456
3       3131
5       3327
8       3393
13      3128
        ...
5650    5375
5675    5144
5679    5143
5719    5269
5721    5155
Name: id, Length: 706, dtype: int64

#### There are 706 values explicitly marked as 'NULL'

In [6]:
designation_id_for_null = users.loc[users['access_program'] == '{NULL}', 'user_designation_id']
print(designation_id_for_null)

1      NaN
3      NaN
5      NaN
8      NaN
13     NaN
        ..
5650   NaN
5675   NaN
5679   NaN
5719   NaN
5721   NaN
Name: user_designation_id, Length: 706, dtype: float64

#### for the {NULL} values User_designation_id is also 'null', therefore we can simply drop them.

In [7]:
users = users.dropna(subset=['user_designation_id'])

## Conclusion from Users table-
>1. otp_backup_codes, otp_required_for_login, consumed_timestep,otp_secret, deleted_at, room_id, unique_session_id, locked_at, unlocked_token columns doesnot has any value (approx)
>2. current_sign_in_id, last_sign_in_ip, current_sign_in_at, last_sign_in_at has 40% null values
>3. 'access_program' has null values explicitly marked as '{Null}', for them user_designation_id is NULL, therefore we have dropped them

## User Designation

In [8]:
user_designations.head()

,id,geography_type,name_en,created_at,updated_at
0,1,State,Secretery Health,2021-10-22 10:44:47.440078,2021-10-22 10:44:47.440078
1,2,State,MD NHM,2021-10-22 10:44:47.456681,2021-10-22 10:44:47.456681
2,3,State,Director Public Health,2021-10-22 10:44:47.460613,2021-10-22 10:44:47.460613
3,4,State,Director RCH,2021-10-22 10:44:47.464294,2021-10-22 10:44:47.464294
4,5,State,Director AIDS,2021-10-22 10:44:47.46778,2021-10-22 10:44:47.46778

In [9]:
percent_missing = user_designations.isnull().sum()*100/len(user_designations)
percent_missing

id                0.0
geography_type    0.0
name_en           0.0
created_at        0.0
updated_at        0.0
dtype: float64

### Conclusion
> There are no null values in Users Designation table

## Geo_tables

In [52]:
geo_tables.head()

,state_id,state_name,district_id,district_name,block_id,block_name,phc_id,phc_name,sub_center_id,sub_center_name,village_id,village_name,anganwadi_id,anganwadi_name
0,1,Rajasthan,1,Ajmer,1,Ajmer Urban,2,City Dispensary Beawar,2,City Dispensary Beawar,18,Ward 11,1575,Teja chok(Ward 11)
1,1,Rajasthan,1,Ajmer,1,Ajmer Urban,2,City Dispensary Beawar,2,City Dispensary Beawar,18,Ward 11,1579,Damodar park(Ward 11)
2,1,Rajasthan,1,Ajmer,1,Ajmer Urban,2,City Dispensary Beawar,2,City Dispensary Beawar,18,Ward 11,1583,Regranbada bas(Ward 11)
3,1,Rajasthan,1,Ajmer,1,Ajmer Urban,2,City Dispensary Beawar,2,City Dispensary Beawar,19,Ward 16,1577,Maliyan Mohalla 1(Ward 16)
4,1,Rajasthan,1,Ajmer,1,Ajmer Urban,2,City Dispensary Beawar,2,City Dispensary Beawar,19,Ward 16,1569,Udan chok(Ward 16)

In [7]:
percent_missing = geo_tables.isnull().sum()*100/len(geo_tables)
percent_missing

state_id           0.0
state_name         0.0
district_id        0.0
district_name      0.0
block_id           0.0
block_name         0.0
phc_id             0.0
phc_name           0.0
sub_center_id      0.0
sub_center_name    0.0
village_id         0.0
village_name       0.0
anganwadi_id       0.0
anganwadi_name     0.0
dtype: float64

### Conclusion
> No null value in geo_table

## ahoy_events

In [3]:
ahoy_events.head(10)

,id,visit_id,user_id,name,properties,time
0,2,1,1.0,data_explorer,"{""indicator"": ""surveyed_population""}",2022-12-30 13:07:55.421
1,3,1,1.0,data_explorer,"{""indicator"": ""surveyed_population""}",2022-12-30 13:10:06.604
2,4,5,673.0,Data Explorer,"""click""",2022-12-30 13:10:43.520913
3,5,5,673.0,MR Campaign,"""click""",2022-12-30 13:10:57.166318
4,6,6,277.0,MR Campaign,"""click""",2022-12-30 13:11:11.448949
5,7,6,277.0,MR Campaign,"""click""",2022-12-30 13:11:12.123084
6,8,7,775.0,Data Explorer,"""click""",2022-12-30 13:11:19.834606
7,9,7,775.0,data_explorer,"{""indicator"": ""surveyed_population""}",2022-12-30 13:11:31.738359
8,10,1,1.0,Data Explorer,"""click""",2022-12-30 13:11:38.337446
9,11,1,1.0,data_explorer,"{""indicator"": ""surveyed_population""}",2022-12-30 13:11:40.779999

In [3]:
ahoy_events['user_id'].dtype

dtype('float64')

#### The data-type of user_id is float, we have to change it to integer but we have to remove null values before this.

In [10]:
percent_missing = ahoy_events.isnull().sum()*100/len(ahoy_events)
percent_missing

id            0.000000
visit_id      0.000000
user_id       0.258063
name          0.000000
properties    0.000000
time          0.000000
dtype: float64

## Conclusion
> 'user_id' has null values.

## ahoy_visits

In [11]:
ahoy_visits.head()

,id,visit_token,visitor_token,user_id,ip,user_agent,referrer,referring_domain,landing_page,browser,...,longitude,utm_source,utm_medium,utm_term,utm_content,utm_campaign,app_version,os_version,platform,started_at
0,1,208e6438-2283-4de2-804c-d19f7e37ddf9,778c5576-7e28-48df-8ba2-e9542be572ea,1.0,103.59.75.228,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; ...,https://nirogi.rajasthan.gov.in/users/sign_in,nirogi.rajasthan.gov.in,https://nirogi.rajasthan.gov.in/,Firefox,...,75.7105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-30 13:07:48.737643
1,35651,65f7123e-c691-40cc-a034-e7bfd62ca199,4af745c0-16a1-4f21-ba21-47d15cd447aa,NaN,157.38.132.154,Mozilla/5.0 (Linux; Android 11; RMX2027) Apple...,https://www.google.com/,www.google.com,https://www.nirogi.rajasthan.gov.in/users/sign_in,Chrome Mobile,...,77.0060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-02 16:26:51.521452
2,35630,37ef33fc-4861-4cae-80b5-2726262f90c2,82ec62fa-e3e9-4dd3-8dfa-92b43c85bd36,302.0,157.38.133.194,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,https://www.google.com/,www.google.com,https://www.nirogi.rajasthan.gov.in/users/sign_in,Chrome,...,77.0060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-02 16:13:00.554915
3,35645,bb6c9cc2-3363-460d-aea3-8c657aa031bb,8a64ff13-56a8-43e3-8694-4935fd2c7c77,NaN,223.233.121.44,Mozilla/5.0 (Linux; Android 13; V2153) AppleWe...,https://www.google.com/,www.google.com,https://www.nirogi.rajasthan.gov.in/users/sign_in,Chrome Mobile,...,75.7105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-02 16:21:25.513858
4,5,78520419-4003-404b-b0f1-620995538418,ac3e4aba-fe3d-4581-9e69-22e88a435815,673.0,157.38.42.107,Mozilla/5.0 (Linux; U; Android 9; en-in; Redmi...,NaN,NaN,https://www.nirogi.rajasthan.gov.in/,MIUI Browser,...,75.7105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-30 13:10:43.457746

In [12]:
percent_missing = ahoy_visits.isnull().sum()*100/len(ahoy_visits)
percent_missing

id                    0.000000
visit_token           0.000660
visitor_token         0.000000
user_id              32.443307
ip                    0.000000
user_agent            0.000000
referrer             49.733520
referring_domain     49.749350
landing_page          0.166880
browser               0.021767
os                    0.000000
device_type           0.077833
country               1.062623
region               29.300292
city                 29.624817
latitude              1.062623
longitude             1.062623
utm_source          100.000000
utm_medium          100.000000
utm_term            100.000000
utm_content         100.000000
utm_campaign        100.000000
app_version         100.000000
os_version          100.000000
platform             93.065578
started_at            0.000000
dtype: float64

### Conclusion
> utm_medium, utm_term, utm_content, utm_campaign, app_version, os_version, has all null values.
> region, city,user_id has 30 percent null values
> referrer, referring domain has 50% null values.

#### Frequency of health officials logging into the dahboard.

In [11]:

# Retrieving unique user_ids from ahoy_visits table
user_ids_from_visits = ahoy_visits['user_id'].unique()

# Creating a list to store the results
results = []

# Iterating over each user_id and append the corresponding designation info to the results list
for user_id_from_visits in user_ids_from_visits:
    user_designation_ids = users.loc[users['id'] == user_id_from_visits, 'user_designation_id'].unique()
    for user_designation_id in user_designation_ids:
        designation_name_en = user_designations.loc[user_designations['id'] == user_designation_id, 'name_en'].iloc[0]
        
        results.append({'user_id': user_id_from_visits, 'designation_name_en': designation_name_en})

result_df = pd.DataFrame(results)

print(result_df)

      user_id          designation_name_en
0         1.0      Khushi Baby Policy Team
1       302.0  Block Program Manager (BPM)
2       673.0       Medical Officer (MOIC)
3       277.0       Medical Officer (MOIC)
4       402.0       Medical Officer (MOIC)
...       ...                          ...
2753   5767.0       Medical Officer (MOIC)
2754   5602.0  Block Program Manager (BPM)
2755   5773.0       Medical Officer (MOIC)
2756   5774.0       Medical Officer (MOIC)
2757   5775.0       Medical Officer (MOIC)

[2758 rows x 2 columns]

In [13]:
designation_counts = result_df['designation_name_en'].value_counts()
designation_counts

designation_name_en
Medical Officer (MOIC)                      1624
Public Health Supervisor (PHS)               275
Block Chief Medical Officer (BCMO)           164
STS-TB                                       150
Block Program Manager (BPM)                  112
Lady Health Visitor (LHV)                     64
Block Asha Facilitator                        59
PHM                                           54
District Tuberculosis Officer (DTO))          35
Khushi Baby Policy Team                       33
Reproductive Child Health Officer (RCHO)      33
BHS/BAF                                       16
BNO                                           15
Khushi Baby Tech Team                         15
District Monitoring & Evalution Officer       14
SMO                                           14
District Asha Coordinator                     11
Epidemiologist                                 8
STLS-TB                                        8
WHO NTEP Consultant                            7
Chief Medical  Health Officer (CMHO)           7
District Program Manager                       5
WHO RRT Consultant                             4
UPM                                            3
Health Officer                                 3
Deputy CMHO (FW)                               2
ASO                                            2
PPM-TB                                         2
District Data Manager (IDSP)                   2
Deputy CMHO (Health)                           2
State Entomologist                             1
Laboratory Assistant                           1
Secretery Health                               1
STS                                            1
DPC-TB                                         1
DPO - NTCP                                     1
PD-Immunization                                1
SNO NCD                                        1
Food Safety Officer                            1
JD ZONE Ajmer                                  1
STDC                                           1
State Team Leader-WHO                          1
MD NHM                                         1
STO                                            1
PD-MH                                          1
Name: count, dtype: int64

#### Conclusion
>Medical Officer has visited the dashboard maximum number of times

#### Which part of the dashboard is visited by health officials

In [26]:
# Retrieving unique user_ids from ahoy_events table
user_ids_from_events = ahoy_events['user_id'].unique()

# Creating a list to store the results
results_part = []

# Iterating over each user_id and append the corresponding designation info to the results list
for user_id_from_events in user_ids_from_events:
    user_designation_ids = users.loc[users['id'] == user_id_from_events, 'user_designation_id'].unique()
    
    for user_designation_id in user_designation_ids:
        designation_info = user_designations.loc[user_designations['id'] == user_designation_id]
        designation_name_en = designation_info['name_en'].iloc[0]
        
        names = ahoy_events.loc[ahoy_events['user_id'] == user_id_from_events, 'name'].unique()
        
        results_part.append({ 'designation_name_en': designation_name_en, 'names': names})

result_part_df = pd.DataFrame(results_part)

In [33]:
# Extracting unique 'designation_name_en' values
unique_designations = result_part_df['designation_name_en'].unique()
final_results = []
# Iterating over each unique 'designation_name_en' and print the combined 'names' column
for designation_name_en in unique_designations:
    filtered_df = result_part_df[result_part_df['designation_name_en'] == designation_name_en]
    
    combined_names = ', '.join(map(str, filtered_df['names'].iloc[0]))
    
    final_results.append({'designation_name_en': designation_name_en, 'part_of_dashboard_visited': combined_names})

final_result_df = pd.DataFrame(final_results)
final_result_df

,designation_name_en,part_of_dashboard_visited
0,Khushi Baby Policy Team,"data_explorer, Data Explorer, MR Campaign, Pla..."
1,Medical Officer (MOIC),"Data Explorer, MR Campaign, data_explorer"
2,Block Chief Medical Officer (BCMO),"MR Campaign, Data Explorer, data_explorer"
3,Public Health Supervisor (PHS),"Data Explorer, data_explorer, MR Campaign"
4,BHS/BAF,"Data Explorer, data_explorer, MR Campaign, TB ..."
5,Reproductive Child Health Officer (RCHO),"MR Campaign, data_explorer, Data Explorer, RI ..."
6,Block Asha Facilitator,"Data Explorer, MR Campaign, data_explorer"
7,Block Program Manager (BPM),"data_explorer, Data Explorer, MR Campaign, TB ..."
8,SMO,"Data Explorer, MR Campaign, data_explorer, pra..."
9,Lady Health Visitor (LHV),"Data Explorer, data_explorer, MR Campaign, Pla..."
10,District Tuberculosis Officer (DTO)),"Data Explorer, TB Cases, data_explorer, tb_exp..."
11,PHM,"Data Explorer, data_explorer, MR Campaign, camps"
12,Epidemiologist,"data_explorer, Data Explorer, GIS MAP, RI Micr..."
13,District Data Manager (IDSP),"Data Explorer, data_explorer"
14,Secretery Health,"Data Explorer, data_explorer, MR Campaign, Pla..."
15,ASO,"data_explorer, Data Explorer, MR Campaign, TB ..."
16,STS-TB,"TB Cases, tb_explorer, Data Explorer, data_exp..."
17,District Monitoring & Evalution Officer,"Data Explorer, data_explorer, MR Campaign, RI ..."
18,District Asha Coordinator,"Data Explorer, data_explorer, MR Campaign"
19,MD NHM,"Data Explorer, MR Campaign, data_explorer"
20,District Program Manager,"MR Campaign, Data Explorer, data_explorer"
21,PD-Immunization,"data_explorer, Data Explorer, MR Campaign, Pla..."
22,Food Safety Officer,"data_explorer, Data Explorer, MR Campaign"
23,PPM-TB,"tb_explorer, data_explorer, TB Cases, Data Exp..."
24,UPM,"Data Explorer, data_explorer, MR Campaign, Pla..."
25,Joint Director HA,"Data Explorer, data_explorer, Platform User Su..."
26,Khushi Baby Tech Team,"Data Explorer, data_explorer, prasav_watch, Pr..."
27,Chief Medical Health Officer (CMHO),"Data Explorer, data_explorer, MR Campaign"
28,BNO,"Data Explorer, data_explorer, MR Campaign"
29,JD ZONE Ajmer,"Data Explorer, data_explorer, MR Campaign, Pla..."
30,State Team Leader-WHO,"Data Explorer, data_explorer, MR Campaign, RI ..."
31,WHO NTEP Consultant,"Data Explorer, data_explorer, TB Cases, tb_exp..."
32,STDC,"Data Explorer, tb_explorer, data_explorer, TB ..."
33,STO,"tb_explorer, TB Cases, Data Explorer, data_exp..."
34,STLS-TB,"Data Explorer, data_explorer, TB Cases, tb_exp..."
35,Health Officer,"data_explorer, tb_explorer, Data Explorer, TB ..."
36,PD-MH,"Data Explorer, prasav_watch, data_explorer, Pr..."
37,Demographer,"data_explorer, Data Explorer"
38,State Entomologist,"Data Explorer, data_explorer"
39,SNO NCD,"Data Explorer, data_explorer, MR Campaign, GIS..."
40,DPO - NTCP,"data_explorer, Data Explorer"
41,Deputy CMHO (Health),"Data Explorer, data_explorer"
42,DNO,"Data Explorer, data_explorer, Platform User Su..."
43,DPM,"Data Explorer, data_explorer"
44,DPC-TB,"data_explorer, Data Explorer, Platform User Su..."
45,STS,"Data Explorer, data_explorer, TB Cases, tb_exp..."
46,WHO RRT Consultant,"Data Explorer, data_explorer, RI Micro Plan an..."
47,Laboratory Assistant,"Data Explorer, data_explorer"
48,Deputy CMHO (FW),"data_explorer, Data Explorer"

#### Conclusion
>The above dataframe gives unique designation name and the dashboard parts visited by them.

##### Checking datatype of time column

In [4]:
ahoy_events['time'].dtype

dtype('O')

##### Converting the datatype to datetime

In [10]:
ahoy_events['time'] = pd.to_datetime(ahoy_events['time'], format="%Y-%m-%d %H:%M:%S.%f", errors='coerce')
time_column_dtype = ahoy_events['time'].dtypes

print(time_column_dtype)

datetime64[ns]

In [14]:
nan_values_exist = ahoy_events['time'].isna().sum()
nan_values_exist

275

In [11]:
ahoy_events.dropna(subset=['time'], inplace=True)

In [12]:
ahoy_events.shape

(860756, 6)

In [13]:
# Calculating the average time for each user id
ahoy_events['time_diff'] = ahoy_events.groupby(['user_id', 'name'])['time'].diff()
#Grouping the DataFrame by 'user_id' and calculating the mean (average) of the 'time_diff'column within each user group
average_time_per_user = ahoy_events.groupby('user_id')['time_diff'].mean()

In [22]:
# Converting the result to dataframe
average_time = average_time_per_user.reset_index()
average_time = average_time.rename(columns={'user_id': 'user_id', 'time_diff': 'avgtime_spent'})

In [23]:
# Retrieving unique user_ids from average_time table
user_ids_from_average_time = average_time['user_id'].unique()

# Creating a list to store the results
results = []

# Iterating over each user_id and append all corresponding designation info to the results list
for user_id in user_ids_from_average_time:
    user_designation_ids = users.loc[users['id'] == user_id, 'user_designation_id'].tolist()
    
    for user_designation_id in user_designation_ids:
        designation_info = user_designations.loc[user_designations['id'] == user_designation_id]
        designation_name_en = designation_info['name_en'].tolist()
        
        avgtime_spent = average_time.loc[average_time['user_id'] == user_id, 'avgtime_spent'].tolist()
        
        for i in range(len(designation_name_en)):
            results.append({'user_id': user_id, 'designation_name_en': designation_name_en[i], 'avgtime_spent': avgtime_spent[i]})

designation_time = pd.DataFrame(results)
#grouped_df = designation_time.groupby('designation_name_en')['avgtime_spent'].mean().reset_index()

In [21]:
designation_time

      user_id      designation_name_en             avgtime_spent
0         1.0  Khushi Baby Policy Team 0 days 10:34:47.631351875
1         2.0  Khushi Baby Policy Team 0 days 16:54:13.170217053
2         3.0  Khushi Baby Policy Team 1 days 16:24:50.898060068
3         4.0  Khushi Baby Policy Team 1 days 05:25:08.020068400
4         6.0  Khushi Baby Policy Team 7 days 11:51:49.704148018
...       ...                      ...                       ...
3044   5771.0   Medical Officer (MOIC) 0 days 00:00:44.023011791
3045   5772.0  Khushi Baby Policy Team    0 days 00:00:22.036840
3046   5773.0   Medical Officer (MOIC) 0 days 00:00:25.568335555
3047   5774.0   Medical Officer (MOIC) 0 days 00:14:10.020252250
3048   5775.0   Medical Officer (MOIC) 0 days 00:02:18.559506100

[3049 rows x 3 columns]